html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.content {
    width: 100%;
    height: 100vh;
}
    header {
        width: 100%;
        height: 70px;
        background-color: #FF6600;
        padding: 15px 0;
        margin: 0;
    }
        .iconHeader{
            width: 80px;
            height: 70px;
            margin-left: 20px;
        }
        #tittle {
            font-size: 60px;
            font-family: "bebas neue";
            padding: 0;
            margin: 0;
            width: 955px;
            float: right;
            color: black;
        }

    .form {
        border-radius: 10px;
        margin: 110px 390px 0 390px;
        height: 50vh;
        background-color: #f2f2f2;
    }
        div p {
            padding-top: 30px;
            padding-left: 20px;
            font-size: 20px;
            font-family: "Montserrat";
            color: black;
        }
        form {
            margin-left: 80px; 
        }
            ul li {
                font-family: "Montserrat";
                list-style: none;   
            }
                label {
                    font-size: 20px;
                    padding: 5px;
                }            
                .nota {
                    text-align: left;
                    width: 45px;
                    margin: 5px;
                }

        button {
            width: 150px;
            height: 50px;
            background-color: #FF6600;
            border: solid 3px;
            border-color: #FF6600;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 15px 220px;
            cursor: pointer;
        }
            button:hover {
                background-color: #ffffff;
                color: #FF6600;
                border: solid 3px;
                border-color: #FF6600;

            }
